@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif; }

a {
  text-decoration: none;
  color: white !important; }
  a:hover {
    font-weight: bold; }
  a:visited {
    color: white !important; }

body {
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-areas: "header" "main" "fotter";
  grid-template-rows: 1fr 5fr 1fr; }

.main {
  grid-area: main;
  height: 100%; }

.encabezado {
  grid-area: header;
  height: 100%;
  animation: animacionindex 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-delay: 0.5s; }
  .encabezado__nav {
    height: 100%; }
    .encabezado__nav-ntrece:hover {
      transform: scale(1.03); }

.position-fixed {
  z-index: 1; }

.puntos_icono :hover {
  transform: scale(1.2); }

.navbar-toggler {
  border: 0px; }

.navbar-nav li {
  padding-left: 60px;
  padding-right: 60px; }

.navpuntos {
  padding-right: 10px;
  padding-top: 10px; }

.sticky-top {
  background-color: black; }

.burger {
  color: white; }

.producto_menu {
  background-color: transparent; }

.pie {
  position: relative;
  grid-area: fotter;
  color: white;
  height: 100%;
  font-weight: 400; }

.pie li {
  animation: animacionindex 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-delay: 1s;
  margin: 1rem;
  list-style: none; }

.pie__producto {
  grid-area: footer;
  color: white;
  font-weight: 400; }

.pie__producto li {
  margin: 1rem;
  list-style: none;
  z-index: -1; }

.body_index {
  background-image: url("../images/Grupo 9.jpg");
  background-position: center center;
  background-size: cover;
  animation: fondoanimado 10s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

.bodyproducto {
  background-image: url("/images/fondoproducto.pdf.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh; }

.main_productos {
  grid-area: main; }

.fundafox {
  margin: 0 auto;
  width: 85%;
  height: 100%;
  background-color: #b1977a;
  display: grid;
  grid-template-areas: "a b c" "a d c" "a e f" "a g f";
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  grid-template-columns: 2fr 0.5fr 2fr;
  grid-gap: 25px;
  border-style: solid;
  border-width: 30px;
  border-color: #b1977a;
  animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both; }
  .fundafox__img1 {
    grid-area: a;
    width: 100%;
    transition-duration: 1s; }
    .fundafox__img1:hover {
      transform: scale(1.04); }
  .fundafox__img2 {
    grid-area: b;
    width: 100%; }
  .fundafox__img3 {
    grid-area: d;
    width: 100%; }
  .fundafox__img1-1 {
    grid-area: e;
    width: 100%; }
  .fundafox__description {
    grid-area: c;
    width: 100%;
    position: relative;
    left: 20px; }
    .fundafox__description--title {
      width: 10rem;
      margin-bottom: 20px; }
    .fundafox__description p {
      margin: 5px;
      font-weight: bold; }
  .fundafox__img4 {
    grid-area: f;
    width: 50%;
    position: relative;
    left: 50%;
    bottom: -10%; }

.pie__fundafox {
  color: black;
  background: black;
  background: linear-gradient(360deg, black 41%, #b1977a 42%); }

.maincontacto {
  background-image: url("../images/fondoproducto.pdf.jpg");
  background-position: center center;
  background-size: cover;
  height: 500px;
  grid-area: main; }
  .maincontacto__formulario--modifier {
    width: 35%;
    color: white;
    animation: animacionindex 2s cubic-bezier(0.215, 0.61, 0.355, 1) both; }
  .maincontacto__logos {
    position: absolute;
    right: 45%;
    bottom: 20%;
    transform: scale(1.6); }
    .maincontacto__logos i {
      color: white;
      margin: 20px; }

.main__catalogo {
  background-image: url("/images/fondocatalogo.jpg");
  animation: catalogo 20s both; }

.descarga {
  position: absolute; }

.mainpuntos {
  width: 100%;
  animation: animacionindex 2s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

.negocios img {
  width: 15rem;
  margin: 2rem;
  transition-duration: 2s; }
  .negocios img:hover {
    transform: scale(1.2); }

@keyframes fondoanimado {
  0% {
    background: position 0; }
  100% {
    background-position: 100%; } }

@keyframes animacionindex {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes slide-bottom {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(60px); } }

@keyframes catalogo {
  0% {
    background-position: 0% 0%; }
  100% {
    background-position: 0% 100%; } }

@media (max-width: 768px) {
  .body_index {
    height: 100vh;
    background-image: url("../images/grupo 9_mobile.jpg");
    animation: fondoanimado 10s cubic-bezier(0.39, 0.575, 0.565, 0.2) both; }
  .producto {
    display: none; }
  .contacto {
    display: none; }
  .catalogo {
    display: none; }
  .pie {
    display: inline !important;
    text-align: center; }
  .pie__producto {
    display: inline !important;
    text-align: center; }
  .fundafox {
    display: grid;
    grid-template-areas: "a a a" "b b b" "c d e" "f f f";
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%; }
  .fundafox__description {
    grid-area: a; }
  .fundafox__img1 {
    grid-area: b;
    width: 100%; }
  .fundafox__img2 {
    grid-area: c; }
  .fundafox__img3 {
    grid-area: d; }
  .fundafox__img1-1 {
    grid-area: e; }
  .fundafox__img4 {
    grid-area: f; }
  body {
    grid-template-rows: 0.5fr 5fr 0.5fr; }
  .pie__fundafox {
    background: linear-gradient(360deg, black 0%, black 100%);
    height: 15% !important;
    color: white; }
  .bodyproducto {
    height: 100vh; }
  .negocios {
    display: flex;
    flex-direction: column;
    height: 100%; }
  .maincontacto {
    width: 100%; }
  .maincontacto__logos {
    display: flex;
    flex-direction: column;
    transform: scale(1.1);
    bottom: auto; }
  .encabezado__nav-ntrece:hover {
    transform: scale(1.1) !important; } }
