.maincontacto {
  background-image: url("/images/fondoproducto.pdf.jpg");
  @extend %fondocentrado;
  height: 500px;
  grid-area: main;


  &__logos {
    position: absolute;
    right: 45%;
    
    transform: scale(1.6);

    i {
      color: white;
      margin: 20px;
    }
  }
}



.formulario {
  color: white;
  font-size: 27px;
  padding: 10px;
}