.bodyproducto {
  background-image: url("/images/fondoproducto.pdf.jpg");
  @extend %fondocentrado;
  height: 100vh;
}

.main_productos {
  grid-area: main;
}

.fundafox {
  margin: 0 auto;
  width: 85%;
  height: 100%;
  background-color: #b1977a;
  display: grid;
  grid-template-areas:
    "a b c"
    "a d c"
    "a e f"
    "a g f";
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  grid-template-columns: 2fr 0.5fr 2fr;
  grid-gap: 25px;
  border-style: solid;
  border-width: 30px;
  border-color: #b1977a;
  animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;

  &__img1 {
    transition-duration: 1s;

    &:hover {
      transform: scale(1.04);
    }
  }

  &__description {
    @include areatamaño(c,100%);
    position: relative;
    left: 20px;

    &--title {
      width: 10rem;
      margin-bottom: 20px;
    }

    p {
      margin: 5px;
      font-weight: bold;
    }
  }

  &__img4 {
    @include areatamaño(f,50%);
    position: relative;
    left: 50%;
    bottom: -10%;
  }
}

$fundasoximagenes: (
  img1: a,
  img2: b,
  img3: d,
  img1-1: e,

);

@each $imagen,$area in $fundasoximagenes {
  .fundafox__#{$imagen} {
    grid-area: $area;
    width: 100%;
  }
}



.pie__fundafox {
  color: black;

  background: rgb(0, 0, 0);
  background: linear-gradient(360deg,
      rgba(0, 0, 0, 1) 41%,
      rgba(177, 151, 122, 1) 42%);
}