@keyframes fondoanimado {
    0% {
      background: position 0;
    }
    100% {
      background-position: 100%;
    }
  }
  @keyframes animacionindex {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes slide-bottom {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(60px);
    }
  }
  @keyframes catalogo {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
  
  